/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a{
        text-decoration: none;
    }
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*Home Style*/
/*html{*/
    /*height: 100%;*/
    /*background: url("../images/background.png") repeat;*/
/*}*/
/*body{*/
    /*height: 100%;*/
    /*background: url("../images/background.png") repeat;*/
/*}*/
a {
    text-decoration: none;
}
@media screen {
    .page-wrap {
        background: #d6d5d5;
        width: 90%;
        margin: -250px auto 40px;
        position: relative;
        padding-top: 20px;
    }
    .main-nav {
        font-size: 0;
        border-bottom: 6px solid #444;
        padding: 0 20px;
        overflow: hidden;
        height: 50px;
    }
    .main-nav a {
        display: inline-block;
        position: relative;
        width: 12.49%;
        padding: 12px 0 0;
        height: 100%;
        background: #afafaf;
        color: #444;
        text-align: center;
        font-family: 'Gotham Rounded A', 'Gotham Rounded B', "proxima-nova-soft", sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        -webkit-transition: background 0.3s ease;
        -moz-transition: background 0.3s ease;
        -o-transition: background 0.3s ease;
        transition: background 0.3s ease;
        box-shadow: 8px 0 25px 2px rgba(0,0,0,0.3);
        text-decoration: none;
    }
    .main-nav a:hover, .main-nav a:focus {
        background: #969696;
        color: white;
        -webkit-transition: background 0.05s ease;
        -moz-transition: background 0.05s ease;
        -o-transition: background 0.05s ease;
        transition: background 0.05s ease;
    }
    .main-nav a:nth-child(1) {
        z-index: 8;
    }
    .main-nav a:nth-child(2) {
        z-index: 7;
    }
    .main-nav a:nth-child(3) {
        z-index: 6;
    }
    .main-nav a:nth-child(4) {
        z-index: 5;
    }
    .main-nav a:nth-child(5) {
        z-index: 4;
    }
    .main-nav a:nth-child(6) {
        z-index: 3;
    }
    .main-nav a:nth-child(7) {
        z-index: 2;
    }
    .main-nav a:nth-child(8) {
        z-index: 1;
        box-shadow: none;
    }
    .home .main-nav a.home{
        background: #444;
        color: white;
    }
    /** top **/
    .top {
        position: relative;
        height: 400px;
    }
    .logo {
        background: #e18728;
        position: absolute;
        top: 0;
        right: 90%;
        margin: 0 -345px 0 0;
        height: 315px;
        width: 1000px;
        text-align: right;
        padding: 65px 35px 0 0;
        text-transform: uppercase;
        font-family: 'Gotham Rounded A', 'Gotham Rounded B', "proxima-nova-soft", sans-serif;
        font-size: 50px;
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
    }
    .logo a {
        color: #444;
        text-decoration: none;
    }
    .logo a span {
        color: white;
        margin-left: 4px;
    }
    .top-treehouse-ad {
        position: absolute;
        left: 42.5%;
        height: 100px;
        top: 25px;
        width: 40%;
        padding: 25px 0 0 0;
    }
    .home .frog-foot-box {
        opacity: 0;
        -webkit-animation: come-in 2s 1s ease-in forwards;
        -moz-animation: come-in 2s 1s ease-in forwards;
        animation: come-in 2s 1s ease-in forwards;
    }
    .frog-foot-box {
        width: 55px;
        height: 55px;
        float: left;
        margin-right: 10px;
        position: relative;
    }
    /** content **/
    .grid {
        padding: 20px 0 20px 20px;
    }
}

body {
    font-family: 'Whitney SSm A', 'Whitney SSm B', "ff-meta-web-pro", sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.4;
    background: url(../images/background.png);
    overflow-x: hidden;
}
.logo:before {
    top: 12px;
    left: 12px;
    background: #62390e;
}
.logo:before, .logo:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 100%;
    height: 100%;
    background: #8f5314;
    z-index: -1;
}
.logo:before, .logo:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 100%;
    height: 100%;
    background: #8f5314;
    z-index: -1;
}

.page-wrap:before {
    top: 12px;
    left: 12px;
    background: #6c6666;
}
.page-wrap:before, .page-wrap:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 100%;
    height: 100%;
    background: #989898;
    z-index: -1;
}
.page-wrap:before, .page-wrap:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 100%;
    height: 100%;
    background: #989898;
    z-index: -1;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width : 62em) {
    .main-nav {
        height: 94px;
    }
    .main-nav {
        font-size: 0px;
        border-bottom: 6px solid rgb(68, 68, 68);
        padding: 0px 20px;
        overflow: hidden;
    }
    article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
        display: block;
    }
    page-wrap {
        width: 96%;
    }
    .page-wrap {
        background: none repeat scroll 0% 0% rgb(214, 213, 213);
        width: 90%;
        margin: -250px auto 40px;
        position: relative;
        padding-top: 20px;
    }
    .main-nav a {
        width: 24.9%;
        height: 50%;
    }
    .main-nav a:nth-child(4) {
        box-shadow: 0px 12px 25px -6px rgba(0, 0, 0, 0.3);
    }
}

@media screen and (max-width : 43.75em) {
    body {
        font-size: 13px;
    }
    .page-wrap {
        width: 100%;
        margin-top: -329px;
        padding-top: 10px;
    }
    .main-nav {
        height: 40px;
    }
    .main-nav {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-perspective: 1000px;
        -moz-perspective: 1000px;
        -ms-perspective: 1000px;
        -o-perspective: 1000px;
        perspective: 1000px;
        padding: 0 10px;
    }
    .main-nav a:not(.show-hide-navigation) {
        height: 0;
        padding: 0;
        opacity: 0;
        -webkit-transform: rotateX(269deg);
        -moz-transform: rotateX(269deg);
        -ms-transform: rotateX(269deg);
        -o-transform: rotateX(269deg);
        transform: rotateX(269deg);
        -webkit-transform-origin: bottom 50%;
        -moz-transform-origin: bottom 50%;
        -ms-transform-origin: bottom 50%;
        -o-transform-origin: bottom 50%;
        transform-origin: bottom 50%;
        -webkit-transition: -webkit-transform 0s ease;
        -moz-transition: -moz-transform 0s ease;
        -o-transition: -o-transform 0s ease;
        transition: transform 0s ease;
    }
    .main-nav a:nth-child(2), .main-nav a:nth-child(4), .main-nav a:nth-child(6), .main-nav a:nth-child(8) {
        box-shadow: 0px 12px 25px -6px rgba(0, 0, 0, 0.3);
    }
    .main-nav a {
        width: 49.9%;
        height: 100%;
        padding-top: 8px;
        padding-bottom: 6px;
    }
    .main-nav .show-hide-navigation {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0px;
        left: 0px;
        box-shadow: none;
    }
    .main-nav a {
        padding-top: 8px;
        padding-bottom: 6px;
    }
}

/** Slider Show**/
.slider-section{
    margin-right: 15px;
}
.carousel-indicators li{
    border: 2px solid #c12e2a;
}
.carousel-control .icon-prev, .carousel-control .icon-next {
    width: 100px;
    height: 100px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 100px;
    color: #2c3e50;
}
.carousel-control .icon-next {
    width: 100px;
    height: 100px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 100px;
    color: #2c3e50;
}
.carousel.slide{
    max-width: 100%;
}
.carousel-inner .item img{
    max-width: 100%;
    max-height: 400px;
    width: 50%;
    top: 100px;
    margin: 40px;
}
.carousel-title a{
    font-family: "Microsoft YaHei";
    position: absolute;
    top: 10px;
    font-size: 150%;
    color: #f83701;
    left: 56%;
    width: 40%;
    letter-spacing: 0.15em;
    word-break: break-all;
}
.carousel-caption{
    left: 55%;
    width: 40%;
    top: 100px;
    text-align: left;
    line-height: 2em;
    color: #333;
    text-shadow: none;
}
.col-md-12.slider-wrap{
    padding-left: 0;
    padding-right: 0;
}